.info {
  position: absolute;
  min-width: 600px;
  bottom: 4px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  background-color: #111;
  z-index: 5;
  padding: 20px 36px;
  border-radius: 16px;
  display: flex;
  gap: 40px;
  box-sizing: border-box;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info__block {
  width: 50%;
  color: #fff;
}

.info__header {
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0 0 4px;
}

.info__p {
  margin: 0;
  font-size: 1rem;
}

.info__field-name {
  color: #797979;
}
